body{

    background-color: #d9ffd0;

}

#container{
border: solid 1px rgb(255, 255, 255);
color: darkslateblue;
justify-content: center;
display: flex;
flex-direction: column;



}
#container div{
   
    margin:3px;
    text-align: center;
}
.header{
    background-color: #daffd0;
    color: rgb(108, 186, 255);
    height: 150px;


}
.header img{
    height: 150px;

}
.main{
    background-color: #d0f2ff;
    display: flex;

}

.content{
    flex: 70%;
    display: flex;
    flex-direction: column;
}
    .sidebar{
        flex: .30%;
}
.footer{
    margin-top:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.footer img{
    flex: 40%;
    margin: 10px;
}
.footer .text2{
    flex: 30%;
    padding: 30px;
    margin: 20px;
}



.post{
    background-color: rgb(151, 167, 255);
    display: flex;
    text-align: center;
    align-items: center;
}

.post img{
    flex: 30%;
    height: 500px;
    width: 300px;
    background-color: #daffd0;
    border: solid 1px #d0f9ff;
    box-shadow: 10px 10px 5px 0px;
    border-radius: 10px;
    margin: 10px;
    
}
.post .text{
    flex: 70%;
    height: 500px;
    align-items: center;
    padding: 10px;
    background-color: aqua;
    margin: 10px;
    box-shadow: 10px 10px 5px 0px;
    border-radius: 10px;
    border: solid 1px #6cebff;

}
.text h2{
    color: #000;
    font-family: 'Lobster', cursive;
}

.text p{
    background-color: cornflowerblue;
    color: rgb(80, 255, 112);
}

p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}





.text a{
    text-decoration: none;
    background-color: rgb(164, 255, 255);
    color: black;
    border: solid 2px #000;
border-radius: 5px;

}
#menu1{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
}

#menu1{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu1 >ul::after{
    display: block;
    width: 100%;
    height: 0;
    clear: both;
    content: "";
}
#menu1 ul li{
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
}

#menu1 ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    height: 38px;
    box-sizing: border-box;
    background-color: #000;
    color: #d0f2ff;
    border: solid 1px #d9ffd0;
}

#menu1 ul li ul{
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    width: 200px;
    background-color: #6cebff;
}

#menu1 ul li:hover> ul{
display: block;
}

#menul ul li:hover a{
    background-color: aquamarine;
    color: cadetblue;
    border: darkcyan;
}
#menul ul li:hover a{
    background-color: rgb(157, 127, 255);
    color: rgb(160, 95, 158);
    border: rgb(69, 139, 0);
}




.ll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.niz{
    
 display: flex;

}

.bar{
    height: 8px;
    width: 30px;
    margin: 10px;
    cursor: pointer;
    background-color: #8000ff;
    opacity: .5;
    border-radius: 10px;
    transition: all .4s ease;
}
.bar :hover{
    opacity: .8;
    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;

}
.slide{
    width: 25%;
    transition:all .6s ease;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left:0 ;
}
#r2:checked ~ .s1{
    margin-left:-25% ;
}
#r3:checked ~ .s1{
    margin-left:-50% ;
}
#r4:checked ~ .s1{
    margin-left:-75% ;
}
.slider{
    width: 640px;
    height: 500px;
    overflow: hidden;
    border: solid 10px #6cebff;

}


































































